body {
    background: radial-gradient(circle at top left,  #13003a, #410000);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.overlay {
    position: fixed;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height:100vh ;
    background: rgba(0,0,0,.5);
    pointer-events: none;
    opacity: 0;
    transition: opacity .5s ease;
}
.overlay.open {
    pointer-events: all;
    opacity: 1;
}
.overlay.close{
    opacity: 0;
}
.UpperContainer {
    display: flex;
    width: 100vw;
    height: 3.5vh;
    outline: 2px solid rgba(255, 255, 255, 0.379);
}
.MenuContainer{
    position: absolute;
    z-index: 10;
    background: radial-gradient(circle at top left,  #13003a, #410000);
    position: fixed;
    
    display: flex;
    flex-direction: column;
    
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    
    width: 15vw;
    height: 100vh;

    transform: translateX(-100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;

}
.MenuContainer .btnCloseMenu {    
    
    display: flex;
    height: 25px;
    width: 30px;
    flex: 0;


    border-radius: 20px;    
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}   
.MenuContainer button {
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0);
    flex: 1;
    
    border-radius: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}
.btnOpenMenu {
    color: aliceblue;
    background-color: rgba(255, 255, 255, 0);
    width: 25px;
    display: flex;
    border-radius: 20px;
    border: none;
}
button:hover {
    background-color: rgba(255, 255, 255, 0.316);
    
}
.MenuContainer.open {
    transform: translateX(0%);
    opacity: 1;
}
.MenuContainer.close{
    transform: translateX(-100%);
    opacity: 0;
}

@keyframes slideFade {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}