.MoviePanel {
    outline: 1px solid rgb(0, 0, 0);
    display: flex;
    
    width: 100vw;
    height: 100vh;
    display: none;
}

.firstMovie {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 10px;
    width: 200px;
    height: 270px;
}
.firstMovie img {
    
    position: absolute;
    z-index: 1;
    width: 75%;           
    height: 75%; 
}
.firstMovie .btnWatch {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 2;
    width: 75%;           
    height: 75%;
    border: none;
}
.firstMovie .btnWatch:hover {
    background-color: rgba(255, 255, 255, 0.119);
}
.firstMovie h3 {
    position: absolute;
    color: aliceblue;
    z-index: 2;
    margin-top: 220px;
}
.moviePlayer {
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.251);

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    margin: 10px;
    height: 500px;
    width: 800px;

}
.moviePlayer .subtitle{
    position: absolute;
    color: rgb(255, 255, 255);
    background-color: rgb(30, 30, 30);

    bottom: 150px;
    transition: 0.2s ease;

    font-size: 20px;
    font-family: Arial, Verdana, 'Courier New', Georgia;
}
.moviePlayer .controlPanel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.119);
    background-color: rgb(47, 47, 47);

    margin: 10px;
    height: 30px;
    width: 700px;
    border-radius: 20px;
    
    transform: translateY(20px);  /* start lower */
    opacity: 0;
    transition: .2s ease;
    
}
.controlPanel h5 {
    color: aliceblue;
    margin-left: 10px;
}
.controlPanel hr {
    background-color: rgb(131, 131, 131);
    height: 5px;
    width: 350px;
}
.controlPanel button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(255, 255, 255, 0);

    height: 28px;
    width: 25px;  
    margin-left: 2px;
    border-radius: 10px;
}
.controlPanel button *{
    height: 20px;
}
.controlPanel .soundTuner {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;

    height: 10px;
    width: 100px;
    bottom: 0px; 
    left: 43px;    
    bottom: 80px;
    transform: rotate(-90deg);
    
}
.controlPanel .settingPanel {
    position: absolute;
    z-index: 4;
    background-color: rgb(31, 31, 31);
    color: aliceblue;
    bottom: 50px;
    left: 500px;
    display: none;
}
.settingPanel.active{
    display: block;
}
.controlPanel .btnSound:hover .soundTuner{
    opacity: .9;
}
.controlPanel button:hover {
    background-color: rgba(255, 255, 255, 0.466);
}
.moviePlayer:hover .subtitle {
    margin-bottom: 50px;
}
.moviePlayer:hover .controlPanel {
    transform: translateY(0);     
    opacity: 1;
}
