.StoryPanel {
    outline: 2px solid black;
    width: 100vw;
    height: 100vh;
    display: none;
}
.firstStory{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 10px;
    width: 200px;
    height: 270px;
}
.firstStory .btnRead{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 75%;           
    height: 75%;
    border: none;
}
.firstStory img {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 2;
    width: 75%;           
    height: 75%;
    border: none;
}
.firstStory h3 {
    color: aliceblue;
    position: absolute;
    z-index: 2;
    margin-top: 220px;
}
.bookReader {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    width: 900px;
    display: flex;
    align-items: CENTER;
    flex-direction: column;
    margin: 10px;
}
.bookReader .paragraph {
    margin: 10px;
    font-size: 20px;
    height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.StoryPanel .controlPanelR{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: CENTER;
    left: 900px;
    width: 300px;
    height: 100vh;
}
.firstStory .btnRead:hover{
    background-color: rgba(255, 255, 255, 0.119);
}