.GamePanel { 
    outline: 2px solid black;
    width: 100vw;
    height: 100vh;
    display: none;
}
.firstGame {
   position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    margin: 10px;
    width: 200px;
    height: 270px; 
}
.firstGame .btnPlay {
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 3;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 75%;           
    height: 75%;
    border: none;
}
.firstGame img{
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 2;
    width: 75%;           
    height: 75%;
    border: none;
}
.firstGame h3 {
    color: aliceblue;
    position: absolute;
    z-index: 2;
    margin-top: 220px;
}
.firstGame .btnPlay:hover{
    background-color: rgba(255, 255, 255, 0.119);
}